*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 100%;
}
#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    
}
.bounding{
    width: fit-content;
    overflow: hidden;
    
}
.bounding .boundingelem{
    transform: translateY(100%);
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;

}
#nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#heading{
    margin-top: 120px;
}
#heading h1{
    margin-left: 40px;
    line-height: 0.9;
    font-size: 11vw;
    text-transform: capitalize;
    font-weight: 900;
    opacity: .68;
    text-transform: uppercase;
}
#heading #secondh1{
    margin-left: 100px;
    
}
.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
  
    width: fit-content;
   
}
.blocktext h5{
    
    text-transform: uppercase;
    font-size: 16px;
    text-align: right;
}
#chhotiheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 110px;
    padding-right: 40px;


}
#chhotiheadings h5{
    text-align: right;
    text-transform: uppercase;
    margin-top: .7vw;
    font-size: 1.1vw;
    opacity: 0.9;
}

#herofooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#herofooter a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    
}
#herofooter .circle{
    background-color: rosybrown;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#herofooter #iconset{
    display: flex;
    gap: 6px;
}

#second{
    padding-right: 10vw;
    padding-top: 90px;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    width: 100%;
    padding: 4vw 3vw;
    border-top: 1px solid #888;
    
}
.elem h1{
    text-transform: uppercase;
    font-size: 7vw;
    opacity: .7;
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img{
    z-index: 999;
    height: 130%;
    /* opacity: 0; */
    position: absolute;
    display: none;
}
#about{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 50px;
    width: 100%;
    padding: 10vw 5vw;
    background-color: black;
    padding-left: 40vw;
}
#textabout{
    width: 25rem;
   
}
#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.4;
    margin-bottom: 30px;
}
#about img{
    height: 200px;
    border-radius: 50%;
}
#textabout a{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 12px 22px;
    border-radius: 100px;
    font-size: 10px;
}
#subscribe{
    
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
}
#subscribe h5 {
    text-transform: uppercase;
    opacity: .6;
}
#subscribe h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}
#footer{
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}
#footerleft{
    display: flex;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 30px;
}
#footer a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}

